@font-face { font-family: AmaticSC; 
  src: url('Assets/AmaticSC-Regular.ttf'); } 
  
@font-face { font-family: Signerica; 
  src: url('Assets/Signerica_Medium.ttf'); } 

* {
  font-family: Candara;
}

body {
  margin: 0px;
  background-color: #F4F3EF;
}

.hero-img {
  background-image: url(Assets/homeimage.JPG);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-txt {
  position: absolute;
  text-align: center; 
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vh;
  font-family: AmaticSC;
} 

.signature{
  top: 52%;
  font-family: Signerica;
  font-size: 1.5vh;
  font-weight: bold;
}

.nav {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
  z-index: 10;
}

.nav-button {
  margin: 5px;
  color: rgb(146, 146, 146);
  background-color: white;
  height: 50px;
  width: 100px;
  border: unset;
  font-size: 20px;
  margin-left: 5%;
}

.nav-button:hover {
  color: #40e0d0;
  cursor: pointer;
}

.homeLogoBig {
  font-size: 30px;
  color: turquoise;
  margin-top: 0px;
  font-weight: 540;

}

.homeLogoSmall {
  font-size: 8px;
  color: gray;
  margin-top: 17px;;
}

.divImg img {
  width: 100%;
  height: 100%;
}

.card {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 20vw;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}