@font-face {
  font-family: AmaticSC;
  src: url("Assets/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: Signerica;
  src: url("Assets/Signerica_Medium.ttf");
}

* {
  font-family: Candara;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #f4f3ef;
  height: 200vh;
}

.hero-img {
  background-image: url(Assets/homeimage.JPG);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-txt {
  position: absolute;
  text-align: center;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 6vh;
  font-family: AmaticSC;
}

.signature {
  top: 52%;
  font-family: Signerica;
  font-size: 1.5vh;
  font-weight: bold;
}

.nav {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
  z-index: 10;
}

.nav-button {
  margin: 5px;
  color: rgb(146, 146, 146);
  background-color: white;
  height: 50px;
  width: 100px;
  border: unset;
  font-size: 20px;
  margin-left: 5vw;
  margin-right: 5vw;
  border: 0px;
  padding: 0px;
}

.p-nav {
  position: relative;
  margin-top: 15px;
}

.nav-button:hover {
  color: #40e0d0;
  cursor: pointer;
}

.homeLogoBig {
  font-size: 30px;
  color: turquoise;
  margin-top: 0px;
  font-weight: 540;
}

.homeLogoSmall {
  font-size: 8px;
  color: gray;
  margin-top: 17px;
}
.articles {
  display: grid;
  grid-template-columns: 15%, 85%;
}
.filter {
  width: 15vw;
  height: 25vw;
  grid-column: 1;
  background-color: white;
  border-radius: 5px;
  margin-top: 5vh;
  margin-left: 2.5vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.filter p {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(146, 146, 146);
}
.filters {
  border-top: 1px solid rgb(230, 230, 230);
}
.card .img {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 25vw;
  height: 25vw;
  border-radius: 0px 5px 5px 0px;
}

.card {
  margin-top: 5vh;
  margin-left: 2.5vw;
  margin-right: 20vw;
  height: 25vw;
  width: 50vw;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column: 2;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.instagram {
  height: 25px;
  width: 25px;
  margin-top: 15px;
  margin-right: 50px;
}

.aboutMe-img img {
  height: auto;
  max-width: 23vw;
  object-fit: contain;
  position: relative;
  margin: 1vw;
}

.aboutMe {
  margin-top: 5vh;
  margin-left: 70vw;
  margin-right: 5vw;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: white;
  height: max-content;
}

.aboutMe-txt {
  margin: 1vw;
  border: 1vw;
}
